/** @format */

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.topnav {
  display: flex;
  height: 64px;
  width: 100%;
  text-transform: uppercase;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  box-shadow: 0px 0px 2px #000000;
}

.topnav * {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.nav-left {
  cursor: pointer;
  display: flex;
}

.nav-left {
  font-size: 20px;
  padding: 0px 10px;
  color: black;
}

.nav-left span {
  /* color: rgb(134, 103, 240); */
  color: rgba(0, 0, 0);
  padding-left: 6px;
  opacity: 20%;
}

.nav_items {
  list-style: none;
}

.nav_items li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_items li a {
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  text-decoration: none;
  transition: all 0.3 ease 0s;
}

.nav_items li a:hover {
  color: rgb(134, 103, 240);
}

.nav-left:hover,
.nav-left:hover span {
  color: rgba(134, 103, 240);
}

@media screen and (max-width: 735px) {
}
